header
{
    background-color: #c7c6ff;
    padding: 5px;
    text-align: center;
    font-size: 550%;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #ffecec;
    height: 300px;
}


section::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: left;
    width: 8%;
    background: #ffd2d2;
    padding: 20px;
    height: 300px;
}

nav ul {
    list-style-type: circle;
    padding: 0;
}

footer {
    background-color: #c7c6ff;
    padding: 5px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C6E2FF;
}
