.navbar {
    box-shadow: 0 5px 10px #c7c6ff;
    background: #C6E2FF;
}

body {
    background-color: #efd8f4;
    
}

section {
    background-color: #efd8f4;
}

.resimler{
    height: 600px;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

 .map-container iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 80%;
    position: absolute;
 }
